
#drawing{
    max-width: 100%;
    height: auto;
    border: solid;
}


#letter{
    display:inline-block;
}

#blank{
    display:inline-block;
    padding:2px;
    
    /* inline block enables adjusting height and width */
}


#buttonLetter:hover { 
    background-color: yellow;
}

#introHeader h1,
#introHeader p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
}

#hint {
    font-family: 'Open Sans', sans-serif;
}






